<h1>Enter a new record</h1>
<form action="/records" method="post">
  <label>Swimmer</label>
  <input type="text" name="swimmer">
  <label>Time</label>
  <input type="text" name="time">
  <label>Event</label>
<input type="text" name="event">
  <label>Year</label>
  <input type="text" name="year">
  
  <button type="submit">Add Record</button>
  </form>
